@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;500;600;700;800;900&display=swap');
:root{
    --primary-color: #FF5400;
    --gay-text-one: #131318B2;
    --gay-text-two: #5A5A5D;
    --footer-font: 'Inter', sans-serif; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Mulish', sans-serif;
}
/* common style here */
.primary_btn{
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    background: var(--primary-color);
    padding: 16px 35px;
    cursor: pointer;
}
.primary_title{ 
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
main section{
    margin-top: 100px;
}

/* nav style here */
nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    padding: 2rem 6%;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.925);
    z-index: 99;
}
nav .logo_container,
nav ul{
    display: flex;
    align-items: center;
}
nav .logo_container .logo_text{
    color: #131318;
    font-weight: 800;
    font-size: 2.25rem;
    margin-left: 1rem;
    
}
nav .logo_container .logo_text > span{
    color: var(--primary-color);
}
#click{
    display: none;
}
.menu_btn{
    display: flex;
    align-items: center;
}
nav .menu_btn i{
    color: #131318;
    font-size: 1.2rem;
    padding: 5px;
    display: none;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    margin-right: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #424247;
    transition: all 0.3s ease;
}
nav ul li .active{
    font-weight: 700;
}
nav ul li .active,
nav ul li a:hover{
    color: var(--primary-color);
}
/* container */
.container{
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
}
/* Banner section */
.banner_container{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Banner.png');
    background-size: cover;
}
.banner_title{
    color: #FFF;
    font-size: 4rem;
}
.banner_description{
    color: #FFF;
    max-width: 676px;
    text-align: center;
    margin: 24px 0 48px;
    padding: 0 1rem;
}
.banner_items{
    padding: 16px;
    gap: 24px;
    display: inline-flex;
    align-items: flex-start;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.input_box{
    position: relative;
    /* border: 1px solid red; */
    z-index: 1;
}
.input_box i{
    color: #131318B2;
    position: absolute;
    top: 2px;
    right: 0;
    padding: 0.8rem;
    border-radius: 8px;
    background-color: #FFF;
}
.banner_items input{
    padding: 16px 15px;
    border-radius: 8px;
    border: none;
    outline-color: var(--primary-color);
    /* border: 1px solid salmon; */
}
.find_now{
    margin-right: 8px;
}
.header_btn_find_now{ 
    width: 100%;  
}
/* Our popular tours section style here */
.popular_tours_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid salmon; */
}
 .popular_tours_title{
    color: var(--main-title-color);
}
.popular_tours_description{
    max-width: 577px;
    color: var(--gay-text-one);
    margin: 24px 0;
}
.popular_tours_content{
    flex-basis: 48%;
}
.popular_tours_content .tours_list_container{
    margin-left: 1.5rem;
}
.popular_tours_content ul li{
   color: var(--gay-text-one);
}
.popular_tours_content ul li:nth-child(2){
   margin: 16px 0;
}
.popular_tours_bottom_title{
    max-width: 530px;
    color: var(--gay-text-two);
    margin: 24px 0 32px;
}
.bnr_read{
    font-size: 1.25rem;
    font-weight: 800;
}
.popular_tours_img{
    flex-basis: 48%;
    border-radius: 16px;
}
.popular_tours_img > img {
    width: 100%;
    height: 100%;
    display: block;
}
/* Destination section style here */
.destination_title{
    text-align: center;
}
.destination_description{
    max-width: 643px;
    color: var(--gay-text-one);
    text-align: center;
    margin: 24px auto 48px;
}
.dstn_image_container{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.dstn_image_container img{
    width: 100%;
    height: 100%;
}
.grid-items{
    position: relative;
    width: 100%;
}
.grid-items > h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.grid_item_1{
    grid-column: 1/7;
    grid-row: 1/1;
}
.grid_item_2{
    grid-column: 7/13;
    grid-row: 1/2;
}
.grid_item_3{
    grid-column: 1/5;
    grid-row: 2/3;
}
.grid_item_4{
    grid-column: 5/10;
    grid-row: 2/3;
}
.grid_item_5{
    grid-column: 10/13;
    grid-row: 2/3;
}
.grid_item_6{
    grid-column: 1/6;
    grid-row: 3/4;
}
.grid_item_7{
    grid-column: 6/13;
    grid-row: 3/4;
}
/* Choose Us section style here */
.choose_us_box_container{
 display: flex;
 align-items: center;
 gap: 24px;
 justify-content: space-between;
 /* flex-wrap: wrap; */
}
.choose_us_box_container:last-child{
    margin: 24px auto;
    justify-content: center;
}
.choose_us_box_container .choose_box{
    border-radius: 16px;
    padding: 2rem;
    flex-basis: 48%;
}
.choose_us_box_container .box_item_1{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.choose_us_box_container .box_item_2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose_us_box_container .box_item_3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
} 
.choose_box_title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 16px 0 32px;
}
.choose_box_description{
    color: var(--gay-text-two);
    font-size: 1rem;
    font-weight: 400;
}